<h2 class="grid"><%= @grid %></h2>
<h3>Your word is:   <%= @word %></h3>
<h3>Your score is: <%= @score %> points</h3>
<p><%= @answer %></p>
<p>Current score:<%= session[:score] %></p>

<%= link_to grid_path do%>
  <p id="return-homepage">Play ones more</p>
<%end%>
